<!-- <ActionBar title="COOPER SWITCH" style="background-color: black;color:orange;font-weight:bold;text-align:center;">
  <NavigationButton android.position="actionBar" android.systemIcon="ic_menu_back"></NavigationButton>
  <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right"></ActionItem>
  <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right"></ActionItem>
</ActionBar> -->

<StackLayout style="background-color:#F6F6F6">

    <StackLayout style="width:100%;height:7%;background-color: black" orientation="horizontal" >

        <StackLayout style="width:2%;height:100%"></StackLayout>
        <StackLayout style="width:18%;height:100%">
            <img src="~/images/Backarrow (2).png" style="height:30;width:30;margin-top:20%"/>
        </StackLayout>
        <StackLayout style="width:5%;height:100%"></StackLayout>
        <StackLayout style="width:50%;height:100%">
            <img src="~/images/logo.png" style="height:100%;width:80%;"/>
        </StackLayout>
        <StackLayout style="width:15%;height:100%;">
            <img src="~/images/Notifications.png" style="height:70%;width:70%;margin-top:20%"/>
        </StackLayout>
        <StackLayout style="width:15%;height:100%;">
            <img src="~/images/search.png" style="height:70%;width:70%;margin-top:20%"/>
        </StackLayout>
        </StackLayout>

  <StackLayout style="align-self: flex-start">
    <StackLayout style="height:60;background-color: black">
      <GridLayout class="list-group-item" columns="80, *" style="padding:10">
        <img row="0" col="0" src="~/images/add1.png" style="height:30;width:30;" rowSpan="2" />
        <StackLayout style="align-self:center" row="0" col="1">
          <label row="0" col="1" class="h3" text="Add Product"></label>
          <label row="1" col="1" class="h5" text="Fil the form below to add your Product" style="height:25;"></label>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </StackLayout>


  <StackLayout orientation="horizontal" horizontalAlignment="center" style="margin-bottom:-15;margin-top:1%;z-index:70;position: absolute">
    <img src="~/images/Ellipse744.png" height="15%" />
  </StackLayout>
  <StackLayout shadow="2" style="height:61%;width:80%;background-color:rgb(249, 252, 250);border:3px solid royalblue;;margin-top:-10">

    <StackLayout class="form" style="height:100%;width:80%;margin-top:5%" xmlns="http://schemas.nativescript.org/tns.xsd" loaded="pageLoaded"
      xmlns:dd="nativescript-drop-down">

      <StackLayout class="input-field">
        <TextField hint="Short Description About Product" style="font-size:13" class="input"></TextField>
        <StackLayout class="tfstyle"></StackLayout>
      </StackLayout>

      <label text="Add Products Specs" style="margin-top:4%"></label>

      <StackLayout orientation="horizontal" horizontalAlignment="center">

        <StackLayout class="input-field" style="width:40%">
          <TextField hint="Title" class="input" style="font-size:13"></TextField>
          <StackLayout class="tfstyle"></StackLayout>
        </StackLayout>

        <StackLayout orientation="horizontal" horizontalAlignment="center" style="width:60%">
          <StackLayout class="input-field" style="width:80%">
            <TextField hint="Description" class="input" style="font-size:13"></TextField>
            <StackLayout class="tfstyle"></StackLayout>
          </StackLayout>
          <StackLayout style="width:20%;">
            <img src="~/images/Delete.png" height="15%" />
          </StackLayout>
        </StackLayout>

      </StackLayout>

      <StackLayout orientation="horizontal" horizontalAlignment="center" style="height:6%;">

        <StackLayout class="input-field" style="width:70%">
        </StackLayout>

        <StackLayout orientation="horizontal" horizontalAlignment="center" style="width:30%">
          <img src="~/images/addbt.png" />
        </StackLayout>

      </StackLayout>

      <StackLayout style="height: 6%;">
      </StackLayout>

      <StackLayout orientation="horizontal" horizontalAlignment="center" style="height: 9%">
        <StackLayout style="width:20%;">
          <img src="~/images/Layer1174.png" />
        </StackLayout>
        <StackLayout style="width:80%;" row="0" col="1">
          <StackLayout row="0" col="1" orientation="horizontal" style="height:80%;">
            <StackLayout style="width:80%">
              <label class="h4" text="fuck_this_file_05012018.jpg" style="font-size:10;"></label>
            </StackLayout>
            <StackLayout style="width:20%;">
              <img row="1" col="1" src="~/images/cross.png" height="8" width="8" />
            </StackLayout>
          </StackLayout>
          <img row="1" col="1" src="~/images/Rectangle899.png" height="18%" />
        </StackLayout>

      </StackLayout>

      <StackLayout orientation="horizontal" horizontalAlignment="center" style="height: 9%;margin-top:0.5%">
        <StackLayout style="width:20%;">
          <img src="~/images/Layer1173.png" />
        </StackLayout>
        <StackLayout style="width:80%;" row="0" col="1">
          <StackLayout row="0" col="1" orientation="horizontal" style="height:80%;">
            <StackLayout style="width:80%">
              <label class="h4" text="fuck_this_file_05012018.jpg" style="font-size:10;"></label>
            </StackLayout>
            <StackLayout style="width:20%;">
              <img row="1" col="1" src="~/images/cross.png" height="8" width="8" />
            </StackLayout>
          </StackLayout>
          <img row="1" col="1" src="~/images/Rectangle899.png" height="18%" />
        </StackLayout>
      </StackLayout>

      <StackLayout style="height: 8%;;margin-top:1%" >
        <img src="~/images/Ellipse959.png" />
      </StackLayout>
      <StackLayout style="height: 6%;margin-top:1%"  orientation="horizontal" horizontalAlignment="center">
          <label class="h4" text="Upload images, Supported with file formats png,jpg and gif" style="font-size:8;"></label>
        </StackLayout>
     
    </StackLayout>
  </StackLayout>
  <StackLayout style="background-color:red;" orientation="horizontal" horizontalAlignment="center" style="align-self: center;margin-top:-30;z-index:70;position: absolute">
    <img src="~/images/Ellipse957.png" height="30%" style="margin-right:6%" />
    <img src="~/images/Ellipse960.png" height="30%" />
  </StackLayout>

  <StackLayout orientation="horizontal" style="background-color: orange;bottom:0;height:12%;margin-top:3%;padding:10">
    <StackLayout width="25%" height="100%">
      <img src="~/images/folder.png" style="background-color: red" style="height:30;width:35" />
      <label style="text-align:center;font-size:11;color: white" text="Shop"></label>
    </StackLayout>
    <StackLayout width="25%" height="100%">
      <img src="~/images/Home_Dashboard.png" style="background-color: red" style="height:30;width:35" />
      <label style="text-align:center;font-size:11;color: white" text="Track Order"></label>
    </StackLayout>
    <StackLayout width="25%" height="100%">
      <img src="~/images/settings (1).png" style="background-color: red" style="height:30;width:35" />
      <label style="text-align:center;font-size:11;color: white" text="Acept/Deny"></label>
    </StackLayout>
    <StackLayout width="25%" height="100%">
      <img src="~/images/tabs.png" style="background-color: red" style="height:30;width:35" />
      <label style="text-align:center;color: white;font-size:11" text="My Account"></label>
    </StackLayout>
  </StackLayout>
</StackLayout>