<!-- <ActionBar title="CooperSwitch" android.icon="res://icon" android.iconVisibility="always"></ActionBar> -->
<ActionBar style="background-color:black">

    <GridLayout rows="*" columns="40,*,70">


        <GridLayout col="0">
            <Label class="fa" [text]="'fa-arrow-left' | fonticon" horizontalAlignment="left" style="margin-left: 3em;  color:white; font-size:20px"></Label>

        </GridLayout>

        <GridLayout col="1">
            <Image src="res://home_logo" style="width: 60%;" class="initial-logo"></Image>

        </GridLayout>
        <GridLayout col="2" [nsRouterLink]="['/mycart']" columns="*,*">
            <Label col="0" class="fa" [text]="'fa-bell' | fonticon" horizontalAlignment="left" style="  color:white; font-size:20px"></Label>
            <Label col="1" class="fa" [text]="'fa-search' | fonticon" style=" color:white; font-size:20px"></Label>

        </GridLayout>
    </GridLayout>

</ActionBar>


<StackLayout>
   
    <GridLayout rows="*,auto" style="background-color: #EFEFEF;">
        <ScrollView>


                <GridLayout row="0" rows="*,*,*,*"  margin="15" >
    
         <GridLayout row="0" columns="80,*,50">
            <GridLayout col="0" rows="30,*">
                <Label row="0" class="createdOn text-center" horizontalAlignment="center" textWrap="true" text="TODAY" style="font-size: 16em; color: black;  font-family: Mont; font-weight: bold;"></Label>

                <Button text="ButtonCircle" row="1" class="fa" [text]="'fa-info' | fonticon" style="width:60;height:60;color:black;border-radius:100;border-width:2;border-color:#F7CC96;background-color:#F7CC96; font-size: 25em;"></Button>

                
            </GridLayout>

         <GridLayout  col="1" rows="*,*" margintop="30" >

            <Label  row="0" class="createdOn text-left" horizontalAlignment="left" textWrap="true" text="Welcome to Cooper Switch"
                style="font-size: 16em; color: black;  font-family: Mont; font-weight: bold;"></Label>

        <Label row="1" margintop="5" class="createdOn text-left" horizontalAlignment="left" textWrap="true" text="You can access your personalized offer, updates and price drops here." style="font-size: 12em; color: black;"></Label>

         </GridLayout>

<Button col="2" margintop="25" text="ButtonCircle" class="fa" [text]="'fa-times' | fonticon" style="width:40;height:40;color:white;border-radius:100;border-width:2;border-color:red;background-color:red; font-size: 15em; "></Button>
        </GridLayout>
<StackLayout row="1" class="arrow" margintop="20">
<Image  src="res://arrow" class="initial-logo" marginright="20" horizontalAlignment="left" style=" color:white; font-size:20px"></Image>
</StackLayout>

    <GridLayout row="2" columns="80,*,50"  margintop="15">
        <Button text="ButtonCircle" col="0" class="fa" [text]="'fa-info' | fonticon" style="width:60;height:60;color:black;border-radius:100;border-width:2;border-color:#F7CC96;background-color:#F7CC96; font-size: 25em;"></Button>
    
        <GridLayout col="1" rows="*,*" margintop="5">
    
            <Label row="0" class="createdOn text-left" horizontalAlignment="left" textWrap="true" text="Welcome to Cooper Switch" style="font-size: 16em; color: black;  font-family: Mont; font-weight: bold;"></Label>
    
            <Label row="1" margintop="5" class="createdOn text-left" horizontalAlignment="left" textWrap="true" text="You can access your personalized offer, updates and price drops here."
                style="font-size: 12em; color: black;"></Label>
    
        </GridLayout>
    
        <Button col="2" margintop="10" text="ButtonCircle" class="fa" [text]="'fa-times' | fonticon" style="width:40;height:40;color:white;border-radius:100;border-width:2;border-color:red;background-color:red; font-size: 15em; "></Button>
    </GridLayout>

    <StackLayout row="3" class="arrow" margintop="20">
        <Image src="res://arrow" class="initial-logo" marginright="20" horizontalAlignment="left" style=" color:white; font-size:20px"></Image>
    </StackLayout>


                </GridLayout>

            


        </ScrollView>
        <GridLayout row="1" rows="*, auto">
            <StackLayout row="0">

            </StackLayout>
            <BottomNavigation activeColor="white" inactiveColor="white" backgroundColor="#FF7800" keyLineColor="black" (tabSelected)="onBottomNavigationTabSelected($event)"
                row="1">
                <BottomNavigationTab title="Home" icon="home"></BottomNavigationTab>
                <BottomNavigationTab title="Transactions" icon="transaction"></BottomNavigationTab>
                <BottomNavigationTab title="Shop" icon="shop"></BottomNavigationTab>
                <BottomNavigationTab title="My Account" icon="user"></BottomNavigationTab>
            </BottomNavigation>
        </GridLayout>
    </GridLayout>
</StackLayout>